<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>

<div th:fragment="topbar" class="admin-topbar">
    <div class="container admin-topbar-inner">
        <strong>Admin</strong>
        <a th:href="@{/}" class="btn-secondary">Voir le site</a>
    </div>
</div>

</body>
</html>
